html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

#root {
    width: 100%;

    display: flex;
    justify-content: center;
}

.Header {
    width: calc(100% - 16px);
    height: 40px;

    padding: 0 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.m-t-16 {
    margin-top: 16px;
}

.display-none {
    display: none;
}

.Teams--header {
    width: 900px;
    height: 50px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;

    margin: 0;
    padding: 0;

    border-bottom: 2px solid black;
}

.Teams--header--field {
    width: 100px;
    text-align: center;

    padding: 4px;

    cursor: pointer;
}

.Teams--header--default {
    border: none;
}

.Teams--header--topBorder {
    border-top: 1px solid grey;
    margin-top: -1px;
}

.Teams--header--bottomBorder {
    border-bottom: 1px solid grey;
    margin-bottom: -1px;
}

.Teams--body {
    width: 900px;

    list-style-type: none;

    margin: 0;
    padding: 0;
}

.Teams--body--fieldRow {
    width: 100%;
    height: auto;
    min-height: 25px;
}

.Teams--body--fieldRow:nth-child(even) {
    background-color: lightGrey;
}

.Teams--body--content {
    width: 100%;
    height: 100%;
    min-height: 25px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;

    margin: 0;
    padding: 0;
}

.Teams--body--contentField {
    width: 100px;
    height: 100%;
    min-height: 25px;
    
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.TeamModal {
    position: relative;

    overflow-y: scroll;
}

.TeamModal--closeButton {
    width: 20px;
    height: 20px;

    background-color: black;
    color: white;
    
    border-radius: 10px;

    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
}

.TeamModal--closeButton {
    width: 100%;

    text-align: center;
}

.TeamModal--teamSquad {
    width: 100%;

    list-style-type: none;

    padding: 0;
    margin: 0;
}